-# :collection filters out headlines that don't include a landscape image
%section#carousel
  .page-header
    %h1 Top Headlines Carousel
  .row
    #myCarousel{ :class => 'carousel' }
      .carousel-inner= partial 'headlines/headline', :collection => @headlines.select {|headline|  headline.images.any? and headline.images.first.landscape? }
      %a{ :class => ['carousel-control', 'left'],  :href => '#myCarousel', 'data-slide' => 'prev' }= '&lsaquo;'
      %a{ :class => ['carousel-control', 'right'], :href => '#myCarousel', 'data-slide' => 'next' }= '&rsaquo;'