- @title = "Headlines"

- content_for :header do
  %p.lead Samples of how you could use the Headlines API for various components.
  .subnav
    %ul.nav.nav-pills
      %li.active
        %a{:href=>'#carousel'} Carousel
      %li
        %a{:href=>'#accordion'} Accordion
      %li
        %a{:href=>'#marquee'} Marquee

= partial 'headlines/carousel'
= partial 'headlines/accordion'
= partial 'headlines/marquee'
