- @title = "Welcome"

.container
  .hero-unit{ :class => :masthead }
    #myCarousel{ :class => 'carousel' }
      .carousel-inner= partial 'top_headlines/headline', :collection => @headlines.select {|headline| headline['images'].length > 0 }
      %a{ :class => ['carousel-control', 'left'],  :href => '#myCarousel', 'data-slide' => 'prev' }= '&lsaquo;'
      %a{ :class => ['carousel-control', 'right'], :href => '#myCarousel', 'data-slide' => 'next' }= '&rsaquo;'